In [37]:
import pandas as pd
import numpy as np

In [38]:
data = pd.read_csv("./full_dataset.csv")
data.head()

,Unnamed: 0,LABEL,URL,Title,Published_Date,Body_Text,Tokenized_List,Sentence,Time,Address,Lat,Lon,Crime_Type
0,0,abc7news,http://abc7news.com/news/man-found-guilty-in-2...,Man found guilty in brutal 2013 double murder ...,2017-07-06T21:34:24.000Z,SAN FRANCISCO -- An Antioch man was found guil...,['SAN FRANCISCO -- An Antioch man was found gu...,White was on trial for the attack at Victoga I...,NaN,"888 Brannan St, San Francisco, CA 94103, USA",37.772123,-122.405293,NaN
1,1,abc7news,http://abc7news.com/news/sf-church-volunteer-p...,San Francisco church volunteer pleads not guil...,2017-07-05T22:33:21.000Z,SAN FRANCISCO (KGO) -- A volunteer for a San F...,['SAN FRANCISCO (KGO) -- A volunteer for a San...,Marvin Sotorizo helped out at a small Protesta...,NaN,"25th St & San Francisco Bicycle Rte 25, San Fr...",37.751736,-122.406168,NaN
2,2,abc7news,http://abc7news.com/news/nypd-officer-assassin...,NYPD officer 'assassinated' in shooting in Tre...,2017-07-05T11:27:26.000Z,NEW YORK -- An NYPD officer died after being s...,['NEW YORK -- An NYPD officer died after being...,RELATED: Suspected gunman in NYPD officer shoo...,NaN,"Morris Ave & E 183rd St, Bronx, NY 10453, USA",40.858095,-73.901924,NaN
3,3,abc7news,http://abc7news.com/news/report-oakland-driver...,Report: Oakland driver shot in apparent road r...,2017-07-05T01:53:24.000Z,"OAKLAND, Calif. (KGO) -- Oakland police are lo...","['OAKLAND, Calif. (KGO) -- Oakland police are ...",Police say the 23-year-old victim was driving ...,NaN,"58th Ave & Tevis St, Oakland, CA 94621, USA",37.763375,-122.203365,NaN
4,4,abc7news,http://abc7news.com/news/family-of-antioch-val...,"Family of Antioch Valero employee shot, killed...",2017-07-04T23:07:28.000Z,"ANTIOCH, Calif. (KGO) -- The widow and three c...","['ANTIOCH, Calif. (KGO) -- The widow and three...",He worked at the gas station on East 18th Stre...,NaN,"Hillcrest Ave & E 18th St, Antioch, CA 94509, USA",38.004136,-121.787680,NaN

In [39]:
data = data.drop(data.columns[0], axis=1)

In [41]:
weapons = {
        'gun':['gun','shooting', 'shot', 'armed', 'firearm'], 
        'bomb':['explode', 'explosion', 'b omb']
        }
crimes = {
        'robbery':['robbery','robbed', 'robber'], 
        'murder':['murder', 'massacre', 'homicide', 'kill', 'stab', 'assassin', 'shooting', 'shot'], 
        'rape':['rape', 'rapist', 'sexual assault'],
        'theft':['theft', 'pick-pocket', 'steal', 'burglar', 'stolen'],
        'assault':['assault', 'hit', 'punch', 'kick'],
        'kidnap':['kidnap']
         }

In [42]:
def get_keys(text, dic):
    keys = []
    for k, v in dic.items():
        try:
            if any([V in text for V in v]):
                keys.append(k)
        except(TypeError):
            return ''
    return ','.join(keys)

In [43]:
data['Crime_Type'] = [get_keys(text, crimes) for text in data['Body_Text']]
data['Weapon'] = [get_keys(text, weapons) for text in data['Body_Text']]

In [44]:
from dateutil import parser

In [46]:
for i in range(len(data["Published_Date"])):
    data["Published_Date"][i] = parser.parse(data["Published_Date"][i])

/Users/seungwooson/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [54]:
data["Time"] = data["Published_Date"]

In [65]:
light_data = data[["Lat", "Lon", "Crime_Type", "Weapon", "Time"]]

In [67]:
light_data.to_csv("light_full_classified.csv")

In [56]:
data.to_csv("full_classified_data.csv")